.navbar{
    background-color: #e1b382;
}
.navbar-brand{
    color: #3C1874;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}
.nav-item a{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
#active{
    color: #3C1874;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
#gits{
    border-color: #3C1874;
}
#gits:hover{
    border-color: #3C1874;
    background-color: #3C1874;
}