<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-header">
                    <h3>Giving You The Best Quotes and Memes</h3><h3> It's  <span class="t-hero"> Never That Serious</span> ! </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md12">
                <div class="scrollBut">
                    <a href="#quotes">
                        <button id="myBtn" class="btn btn-success">Get Started <i class="fas fa-smile" style="font-size:20px;"></i></button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<app-quotes></app-quotes>