<section class="quotes" id="quotes">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li>View Quotes</li>
                  </ul>
            </div>
        </div>
        <div class="row">
            <div id="cols" class="col-md-3" *ngFor='let num of memes; let i=index'>
                <div  class="list-group" >
                   <div class="cards">
                      <div  class="d-flex w-100 justify-content-between" >
                        <h5 class="mb-1" appHover>{{ num.quoteTitle }}</h5>
                        <small><span class="smalls">Posted By:</span> {{num.owner}}</small>
                      </div>
                      <button type="submit" (click)='toggleDescription(i)' id="rBtn" class="btn btn-success">Read Quote</button>
                      <small id="s2"> <span class="smalls">Posted On:</span> {{num.completeDate|date}}</small>
                      <app-about-quote *ngIf='num.showQuoteDescription' [addQuote]='num' (qDelete)='removeQuote($event,i)'>
                    </app-about-quote>
                </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="modalBut">
                    <button type="submit" id="mBut" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> <i class="fa fa-angle-double-right" aria-hidden="true"></i> Create Quote</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mod">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-create-quote (addQuote)="addNewQuote($event)"></app-create-quote>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
